{{ form_start(form, {'action': '#' }) }}
<h2 class="page-title">
    Profile Picture
    <button type="submit" class="btn btn-primary btn-xs pull-right">Upload</button>
</h2>
{{ form_row(form.image) }}
{{ form_end(form) }}