<h3>Bienvenue sur Bien-Être, $username</h3>
<p>Merci de confirmer votre inscription en cliquant sur le lien ci-dessous.</p>
<a href='$url'><button style='display: inline-block ;color: #ffffff; background: #2f4984; padding: 8px 16px; border-radius: 10px; text-shadow: 0 1px 1px #000000'>Confirmation</button></a><br>
<p style='text-align: center'><em style='font-size: small; color: grey'>Si vous n'êtes pas à l'origine de cette inscription, ne faites rien.</em></p><br>
<p style='text-align: center'><a href='#'><img src='https://res.cloudinary.com/dptzlt8ik/image/upload/v1547757926/Bien-Etre/logo.png' alt='logo'></a></p>