<div class="sidebar">
    <!-- Menu Category -->
    <div class="widget">
        <h2 class="widgettitle">Categories</h2>
        <ul class="menu">
            {{ render(controller(
                'App\\Controller\\RepositoryController::list_categories'
            )) }}
        </ul>
    </div>
</div>