{% extends 'admin-base.html.twig' %}

{% block title %}Admin - Settings{% endblock %}

{% block breadcrumb %}
    <!-- Bread Crumb -->
    <div class="header-statusbar">
        <div class="header-statusbar-inner">
            <div class="header-statusbar-left">
                <h1>Settings</h1>
            </div>
            <div class="header-statusbar-right">
                <div class="hidden-xs visible-lg">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('admin') }}">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block navigation %}
    <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i></a></li>
    <li><a href="{{ path('admin_internauts') }}"><i class="fa fa-users"></i></a></li>
    <li><a href="{{ path('admin_vendors') }}"><i class="fa fa-star"></i></a></li>
    <li class="active"><a href="#"><i class="fa fa-cog"></i></a></li>
{% endblock %}

{% block body %}{% endblock %}