<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Include head -->
        {{ include('inc/head.html.twig') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            <!-- Header navbar -->
            {{ include('inc/header.html.twig') }}
            <div class="main">
                <div class="main-inner">
                    <div class="content">
                        <!-- Banner -->
                        {% block banner %}{% endblock %}
                        <div class="container">
                            <!-- Body -->
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            {{ include('inc/footer.html.twig') }}

            {% block javascripts %}{% endblock %}

            <!-- Include scripts -->
            {{ include('inc/script.html.twig') }}
        </div>
    </body>
</html>
