<div class="mt-80">
    <div class="hero-video">
        <video preload="metadata" autoplay="" muted="" loop="">
            <source src="http://minimir.isl.be/erghiouij/bienetre/video/bienetre-1.mp4" type="video/mp4">
        </video>

        <div class="video-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                    <h1>Bien-Être</h1>
                    <p>Create your own directory website by using Superlist HTML template <br> incorporating all features of modern directory website.</p>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for event, hotel, restaurant, job ... ">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                    </div><!-- /.input-group -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.hero-video -->
</div>