<div class="document-title" style="background-image: url(https://res.cloudinary.com/dptzlt8ik/image/upload/v1542988820/Bien-Etre/search.jpg)">
    <h1>Search result</h1>
</div><!-- /.document-title -->